.ChatBox {
  width: 100vw;
  height: calc(100vh - 3rem);
  max-height: calc(100vh - 3rem);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.ChatBox .ChatBox-Chat {
  position: relative;
  margin: 2rem;
}

.ChatBox-Chat span {
  padding: 5px;
  border-radius: 5px;
  background-color: #cdcdcd;
  color: #000;
  position: absolute;
  right: 0;
}
