.ChatControls {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatControls input {
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 2rem;
  width: 70%;
  padding: 5px 1rem;
}

.ChatControls input:focus {
  outline: none;
}
